* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    max-width: 100%;
    width: 1440px;
    margin: 0 auto;
}

header {
    background-color: #1D2F30;
    padding: 20px;

    .container {
        max-width: 100%;
        width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .logo {
            display: flex;
            gap: 125px;
            align-items: center;

            nav {
                display: flex;
                gap: 64px;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }

        .icons {
            display: flex;
            gap: 64px;

            button {
                background-color: transparent;
                border: none;
            }
        }
    }
}

section {
    position: relative;
}

section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(0, 0, 0, 0.5);
    color: white;
}

section {
    background-image: url(./assets/back1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    display: block;
 
    .text {
        font-family: Cormorant;
        display: flex;
        position: absolute;
        top: 20%;
        flex-direction: column;
        gap: 16px;
        color: white;
        width: 888px;
        z-index: 1;
        padding: 60px;

        h1 {
            font-size: 70px;
            font-weight: 500;
        }

        p {
            font-family: Open Sans;
            width: 560px;
        }

        a {
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}

main {
    background-color: #1D2F30;
}

.plants {

    padding-top: 50px;
    .cards {
        display: flex;
        justify-content: space-around;

        .card {
            background-color: rgba(29, 47, 48, 1);
            border: solid 1px rgba(11, 25, 25, 1);
            color: white;
            width: 255px;

            img {
                background-color: rgba(11, 25, 25, 1);
                padding: 16px;
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 20px;


                p {
                    font-size: 17px;
                    width: 200px;
                }

                button {
                    background-color: transparent;
                    border: none;
                    border: solid 1px #BAE249;
                    padding: 20px;
                    color: #BAE249;
                }
            }
        }

        .card2 {
            background-color: rgba(29, 47, 48, 1);
            border: solid 1px rgba(11, 25, 25, 1);
            color: white;
            width: 255px;

            img {
                padding: 29px;
                height: 150px;
                width: 255px;
                background-color: rgba(11, 25, 25, 1);
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 20px;
                
                p {
                    font-size: 17px;
                    width: 200px;
                }

                button {
                    background-color: transparent;
                    border: none;
                    border: solid 1px #BAE249;
                    padding: 20px;
                    color: #BAE249;
                }
            }
        }

        .card3 {
            background-color: rgba(29, 47, 48, 1);
            border: solid 1px rgba(11, 25, 25, 1);
            color: white;
            width: 255px;

            img {
                height: 150px;
                width: 255px;
                padding: 20px;
                background-color: rgba(11, 25, 25, 1);
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 20px;


                p {
                    font-size: 17px;
                    width: 200px;
                }

                button {
                    background-color: transparent;
                    border: none;
                    border: solid 1px #BAE249;
                    padding: 20px;
                    color: #BAE249;
                }
            }
        }

        .card4 {
            background-color: rgba(29, 47, 48, 1);
            border: solid 1px rgba(11, 25, 25, 1);
            color: white;
            width: 255px;

            img {
                padding: 14px;
                background-color: rgba(11, 25, 25, 1);
            }

            .text {
                display: flex;
                flex-direction: column;
                gap: 16px;
                padding: 20px;


                p {
                    font-size: 17px;
                    width: 200px;
                }

                button {
                    background-color: transparent;
                    border: none;
                    border: solid 1px #BAE249;
                    padding: 20px;
                    color: #BAE249;
                }
            }
        }
    }

    .icons {
        color: white;
        display: flex;
        gap: 20px;
        font-size: 13px;
        width: 200px;
        margin: 0 auto;
        margin-top: 30px;
    }
}

.new-artefacts {

    font-family: Cormorant;
    margin-top: 60px;

    h2 {
        color: white;
        font-size: 48px;
    }

    .picture {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
        align-items: center;

        .text {
            background-color: #BAE249;
            display: flex;
            flex-direction: column;
            gap: 75px;
            font-weight: 700;
            width: 255px;

        
            h2 {
                font-family: Open Sans;
                color: #1D2F30;
                margin: 10px;
                font-size: 24px; 
            }

            p {
                font-family: Open Sans;
                color: #506829;
                margin: 15px;
                line-height: 150%;
            }

            a {
                text-decoration: none;
                display: flex;
                gap: 5px;
                align-items: center;
                color: #1D2F30;
                margin: 10px;
            }
        }
    }
}