h1 {
    color: red;
}

p {
    color: yellow;
}

img {
    width: 500px;
} 

a {
    text-decoration: none;
    color: red ;
}
 
.box1 {
    background-color: red;
    width: 300px;
    height: 150px;
}

.box2 {
    background-color: orange;
    width: 300px;
    height: 150px;          
    
}

.box3 {
    background-color: red;
    width: 300px;
    height: 150px;
}

.box4 {
    background-color: orange;
    width: 300px;
    height: 150px;
}

.box {
    display: flex;
    justify-content: space-around;
}

h2 {
    color: blue;
}

h3 {
    color: brown;
}

h4 {
    color: chocolate;
}

h5{
    color: blueviolet;
}

h6 {
    color: darkblue;
}