* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

    nav {
        display: flex;
        align-items: center;
        gap: 20px;

        p {
            color: #333333;

            span {
                color: #607CE6;
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-family: sans-serif;

    nav {
        display: flex;
        gap: 44px;
        align-items: center;

        a {
            text-decoration: none;
            color: #333333;
        }
    }

    .call {
        display: flex;
        gap: 5px;
        align-items: center;

        a {
            text-decoration: none;
            color: #607CE6;
            font-weight: 400;
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 80px;
    font-family: sans-serif;
    

    .text {
        display: flex;
        align-items: center;
        gap: 70px;
        justify-content: start;

        h1 {
            font-size: 80px;
            color: #333333;
            font-weight: 600;

        }
    }

    .image img {
        width: 100%;
    } 

}


.text2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 60px;

    .desc {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .images {
        display: flex;
        gap: 20px;

        img {
            width: 50%;
        }

    }

}

.product {

    margin-top: 50px;

    .cards1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;

        .card {
            background-color: #F5F5F5;
            padding: 40px;
            display: flex;
            flex-direction: column;
            gap: 107px;

            a {
                text-decoration: none;
                color: #607CE6;
            }
        }
    }

    
    .cards2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;

        .card {
            background-color: #F5F5F5;
            padding: 40px;
            display: flex;
             flex-direction: column;
            gap: 107px;

            a {
                text-decoration: none;
                color: #607CE6;
            }
        }
    }
}


.own {
    margin-top: 60px;

    .image  {
        display: flex;
        justify-content: center;
    }
}


.news {
    margin-top: 70px;

    .news-card {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .first {
            background-color: #F5F5F5;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 40px;

            h4, a, p {
                padding-left: 20px;
            }
 ит
            
            .more {
                a {
                    text-decoration: none;
                }

                display: flex;
                gap: 150px;

            }
        }

    }
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: #333333;
    color: white;
    margin-top: 50px;   
    padding: 40px;


    .links {
       display: flex;
       align-items: start;
       gap: 57px;
       
       
       .first {
        display: flex;
        flex-direction: column;
        gap: 24px;

        a {
            text-decoration: none;
            color: #FFFFFF;
            font-weight: 400;
        }
       }
    }
}

.center {
    background-color: #333333;
    text-align: center ;
    color: white;
    padding-top: 40px;
}