table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th { 
    background-color: blueviolet;
    color: white;
}