* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 1440px;
    margin: 0 auto;
}

section {
    background-color: #141024;
    color: white;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        nav {
            display: flex;
            gap: 40px;
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}