* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    width: 60%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
}

th, td {
    border: solid 1px black;
    padding: 20px;
    text-align: center;
    
}

th {
    background-color: blueviolet;
    color: white;
}