 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 100%;
    width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    .logo {
        display: flex;
        align-items: center;
        gap: 31px;

        a {
            text-decoration: none;
            color: #1E1E1E;
            font-family: sans-serif;
        }
    }

    nav {
        button {
            background-color: #2E4FD7;
            color: white;
            border: none;
            padding: 10px 40px;
        }

        button:hover {
            border: solid 2px rgb(48, 47, 47);
        }
    }
}

main {
    display: flex;
    gap: 105px;
    justify-content: center;
    margin-top: 30px;
    font-family: sans-serif;


    .main_text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 60px;


        h1 {
            font-size: 64px;
        }

        p {
            margin-top: 30px;
            font-size: 20px;
        }

        .btns {
            display: flex;
            gap: 35px;

            button {

                width: 214px;
                margin-top: 30px;
                display: flex;
                gap: 7px;
                align-items: center;
                padding: 17px 41px;
                border: none;
                color: white;
                background-color: #2E4FD7;
            }
        }
    }
}

section {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    font-family: sans-serif;

    .texts {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .first {
            display: flex;
            gap: 24px;

            .text {
                display: flex;
                flex-direction: column;
                gap: 7px;
            }
        }
    }

    .big-text {
        display: flex;
        flex-direction: column;
        gap: 16px;

        h1 {
            font-size: 55px;
        }

        p {
            font-size: 20px;
        } 

        button {
            background-color: #2E4FD7;
            width: 200px;
            border: none;
            padding: 20px 30px;
            color: white;
            display: flex;
            gap: 10px;
        }

        button:hover {
            background-color: aqua;
        }
    }
}

.texts {
    margin-top: 70px;

    h1 {
        position: relative;
        margin-left: 130px;
        padding-bottom: 30px;
    }

    .two {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px;

        .first-text {
            display: flex;
            gap: 40px;
            align-items: center;

            .text {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
        }
    }
}

.green {
    display: flex;
    background-color: #E7EBFC;
    max-width: 900px;
    margin: 0 auto;
    justify-content: end;
    align-items: center;
    gap: 47px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: sans-serif;
    margin-top: 80px;

    .text {
        display: flex;
        flex-direction: column;
        gap: 32px;

        p {
            font-size: 35px;
        }

        a {
            text-decoration: none;
            display: flex;
            gap: 9px;
        }
    }

    .img {
        img {
            height: 300px;
        }
    }
}


.part-text {
    padding: 60px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    h1 {
        font-size: 50px;
    }

    .texts {
        display: flex;
        justify-content: space-around;

        .first {
            display: flex;
            flex-direction: column;
            gap: 5px;

        }
    }
}

.green-block {
    background-color: #E7EBFC;
    margin-top: 60px;
    padding: 30px;

    .texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 24px;

        h1 {
            font-size: 50px;
        }

        button {
            background-color: #2E4FD7;
            width: 200px;
            border: none;
            padding: 20px 30px;
            color: white;
            display: flex;
            gap: 10px;
        }
    }
}



footer {
    background-color: #052825;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 7px;

    h1 {
        margin-left: 155px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;

        .text {
            display: flex;
            flex-direction: column;
            gap: 20px;

            button {
                border: none;
                background-color: transparent;
                color: white;
                width: 91px;
            }
        }

        .left {
            display: flex;
            flex-direction: column;
            gap: 32px;
            align-items: end;

            .links-first {
                display: flex;
                gap: 28px;
            }

            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    hr {
        width: 1300px;
        color: rgb(128, 128, 128, 0.3);
        margin: 0 auto;
    }

        .last {
            margin-top: 50px;
            display: flex;
            justify-content: space-around;
        }
}

@media (max-width:320px) {

    * {
        font-size: 10px;
    }

    h1 {
        font-size: 1px;
    }

    .container {
        width: 300px;
    }

    header {
        display: block;

        .logo {
            display: block;
        }
    }


    .main_text {

        h1 {
            font-size: 10px;
        }
    }

    .main_img {

        img {
            width: 100px;
        }
        display: block;
    }

    .part-text {
        display: none;
    }

    .green-block {
        display: none;
    }

    section, main {
        display: block;
    }

    .texts {

        .two {

            display: block;
        }
    }
}