* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    color: yellow;
    font-size: 70px;
}

h1:hover{
    color: red;
    font-size: 200px;
}
img{ 
    width: 100px;
}

img:hover {
    width: 200px;
}
p{
    color: green;
}
