* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
.container {
    max-width: 100%;
    width: 540px;
    margin: 20px auto;
    text-align: center;

    .image {
        background-color: #FFF0F0;
        max-width: 504px;
        margin-top: 50px;
    }
 
    p {
        color: black;
        font-family: Noto Sans;
        margin: 10px;
    }
    

    button {
        border: none;
        background-color: transparent;
        border: solid 1px black;
        padding: 10px 15px;
        border-radius: 10px;
    }
  
    h1 {  
        margin: 10px;
    }

}

.girl {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

hr {
    background-color: black;
    height: 2px;
}

.new-block {
    display: flex;
    justify-content: center;
}