* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
  width: 300px;  
}

h1 {
    color: aquamarine;
}

h2 {
    color: brown;
}

h3 {
    color: coral;
}

h4 {
    color: darkred;
}

h5 {
    color: darkgreen;
}

h6 {
    color: palevioletred;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.violet {
    color: darkmagenta;
}

p {
    color: yellow;
}
