* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-image: url(./images/11\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    .container {
        max-width: 100%;
        width: 1440px;
        margin: 0 auto;

        header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 40px;

            nav {
                display: flex;
                gap: 40px;
            }

        }

    }

}


section {
    margin: 50px auto;
    width: 900px;

    .container {
        max-width: 100%;
        width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;


        .text {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 788px;
            margin: 30px;

            p {
                color: rgb(71, 141, 192);

                span {
                    color: gray;
                }
            }
        }

        .images {
            display: flex;
            align-items: center;
            gap: 40px;

            .first {

                display: flex;
                gap: 32px;
                flex-direction: column;

                img {
                    width: 360px;
                }
            }

            .second {
                img {
                    width: 688px;
                }
            }
        }
    }
}

.other-section {
    background-color: black;
    color: white;
    margin: 0 auto;
    width: 100%;
    /* position: relative;
    overflow: hidden; */
    
    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 900px;
        /* z-index: 1;
        position: relative; */

        .text {
            width: 800px;

            .first-part {    
                display: flex;
                align-items: end;
                gap: 32px;

            }
            p {
                color: gray;

                span {
                    color: rgb(71, 141, 192);
                }
            }
        }

        .forms {
            display: flex;
            align-items: center;

            .inputs {
                display: flex;
                flex-direction: column;
                gap: 35px;

                input {
                    background-color: transparent;
                    border: none;
                    padding: 0 80px 7px 0;
                    border-bottom: solid 1px gray;
                }

                button {
                    background-color: #F8F200;
                    border: none;
                    width: 162px;
                    padding: 15px;
                }
            }
        }
    }
}
/* 
.blur {
    position: absolute;
    inset: 0;
    background-color: inherit;
    filter: blur(80px);
    transform: scale(1.2);

    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 20%,
        black 20%,
        transparent 100%
    );
    pointer-events: none;
} */