* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 1440px;
    margin: 0 auto;
}

header {

    margin-top: 20px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;

        .logo {
            display: flex;
            align-items: center;
            gap: 53px;

            a {
                text-decoration: none;
                color: black;
            }
        }

        nav {
            button {
                background-color: #2E4FD7;
                color: white;
                padding: 15px;
                border: none;
                display: flex;
                gap: 8px;
            }
        }
    }
}