.grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    gap: 10px;

    /* grid-template-columns: 200px 200px; */

    /* grid-template-columns: 1fr 6fr; */

    /* grid-column: 1 / 3; */
    /* grid-row: 1 / 2; */

    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 200px 200px;
    .box1 {
        background-color: aqua;
        width: 200px;
        height: 200px;
    }
    
}