*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 100%;
    width: 1420px;
    margin: 0 auto;
}

     section {
         background-color: #141024;     
         color: white;

         header {
             display: flex;
             justify-content: space-around;
             align-items: center;
             padding-top: 30px;


             nav {
                 display: flex;
                 align-items: center;
                 gap: 40px;

                 a {
                     text-decoration: none;
                     color: white;
                 }
             }
         }
     }
     .new-block {
         display: flex;
         align-items: center;
         justify-content: space-evenly;
         margin-top: 60px;

        .akram {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
   
        button {
            padding: 15px 20px;
            background-color: #D52027;
            border: none;
            border-radius: 10px;
            color: white;
        }
     
        h1 {
            font-size: 50px;
        }
     }

.container2 {
    max-width: 100%;
    width: 1140px;
    margin: 0 auto;
}

.second-block {
    font-family: sans-serif;
    .main-text {
        display: flex;
        justify-content: start;
        margin-top: 60px;

        h2 {
            span {
                font-weight: 100;
            }
        }
    }

        .other-text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;

            .text {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h1 {
                    color: #D52027;
                    font-size: 50px;
                }
                p{
                    color: rgb(62, 61, 61);
                }
                
            }
        }
}

.second-block2 {
    font-family: sans-serif;
    background-color: #F9F9F9;
    margin-top: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    .main-text {
        display: flex;
        justify-content: start;
        margin-top: 60px;

        h2 {
            span {
                font-weight: 100;
            }
        }
    }

        .other-text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;

            .text {
                display: flex;
                flex-direction: column;
                gap: 20px;

                p{
                    color: rgb(62, 61, 61);
                }
            }
        }
}

.treners {
    margin-top: 60px;
    .all {
        display: flex;
        gap: 40px;

        .card {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                text-decoration: none;
                color: red;
            }

            p {
                color: rgb(60, 59, 59);
            }

            img {
                width: 250px;
            }
        }
    }
}

.pakets {
    margin-top: 100px;
    .all-pakets {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        
        .paket {
            border: 1px solid rgb(128, 128, 128, 0.6);
            padding: 110px 80px 110px 80px;
            text-align: center;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 53px;

            button {
                padding: 15px 20px;
                background-color: #D52027;
                border: none;
                color: white;
            }
        }
        .paket:hover {
            background-color: #141024;
            color: white;
            transition: 0.3s;
            padding: 140px 90px 140px 90px;

        }

    }
}