body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

.container {
    width: 320px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);

    label {
        display: flex;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 15px;    
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 6px;
        outline: none;
        transition: 0.2s;
    }

    input:focus {
        border-color: #7a5cff;
        box-shadow: 0 0 5px rgb(122, 92, 255, 0.4);
    }

    .btn {
        width: 100%;
        padding: 10px;
        background: #7a5cff;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 15px;
    }

    .btn:hover {
        background: #6b4aff;
    }
}