* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

    nav {
        display: flex;  
        gap: 20px;

        a {
            text-decoration: none;
            color: black;
        }
    }
}

.text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    width: 664px;
    margin: 0 auto;
    margin-top: 100px;
}

.second-block {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 110px;
    background-color: #FAFAFA;
    padding: 50px;

    .first-image {
        img {
            width: 505px;
        }
    }

   
    
    
    .second-image, .third-image {
        img {
            width: 240px;
        }
    }
}


.start {

    background-color: #FAFAFA;
}

.third-block {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 780px;
    margin: 0 auto;
    gap: 10px;



    .first-line,
    .second-line {
        display: flex;
        gap: 17px;
    }
}


.container {

    .text-block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        gap: 55px;
        color: #353732;

        .text {
            display: flex;
            flex-direction: column;
            gap: 11px;
        }

        .inputs {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .input {
                display: flex;
                flex-direction: column;
                

                input {
                    width: 376px;
                    border: solid 1px rgb(128, 128, 128, 0.5);
                    padding: 10px;
                    border-radius: 10px;
                }
            }
        }
    }
}