* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 100%;
    width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

    nav {
        display: flex;
        gap: 20px;

        a {
            text-decoration: none;
            color: black;
        }
    }
}