* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

    .text {
        display: flex;
        gap: 20px;

        span {
            color: #607CE6;
        }
    }
}
 
