* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 50px;
}

.box-1 {
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
}

.box-2 {
    background-image: url(https://www.purina.com.au/dw/image/v2/BKFD_PRD/on/demandware.static/-/Library-Sites-purina-shared-library/default/dw597f2b33/images/Finding-a-pet/Pet-breeds/Dog-breeds/Labrador%20Retriever.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
}

.box-3 {
    background-image: url(https://www.nylabone.com/-/media/project/oneweb/nylabone/images/dog101/10-intelligent-dog-breeds/golden-retriever-tongue-out.jpg?h=430&w=710&hash=7FEB820D235A44B76B271060E03572C7);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
}

.box-4 {
    background-image: url(https://cdn.britannica.com/16/234216-050-C66F8665/beagle-hound-dog.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
} 

.box-5 {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/008/951/892/small/cute-puppy-pomeranian-mixed-breed-pekingese-dog-run-on-the-grass-with-happiness-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
}

.box-6 {
    background-image:url(https://static.vecteezy.com/system/resources/thumbnails/008/951/892/small/cute-puppy-pomeranian-mixed-breed-pekingese-dog-run-on-the-grass-with-happiness-photo.jpg) ;
    background-position:center ;
    background-repeat:no-repeat ;
    background-size:cover ;
    width: 200px;
    height:200px ;
}

.box-7 {
    background-image: url(https://d3544la1u8djza.cloudfront.net/APHI/Blog/2021/07-06/small+white+fluffy+dog+smiling+at+the+camera+in+close-up-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
}

.box-8 {
    background-image: url(https://www.cdc.gov/healthy-pets/media/images/2024/04/GettyImages-598175960-cute-dog-headshot.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
}
    

@media (max-width:320px) {
    .container {
        display: block;

        div {
            width: 200px;
            margin: 0 auto;
        }
    }
}

