* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    background-image: url(./images/bg\ \(1\).png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: white;
}

.container {
    max-width: 100%;
    width: 1440px;
    margin: 0 auto;

    hr {
       border: solid 1px rgb(128, 128, 128, 0.3);
    }
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

    nav {
        display: flex;
        gap: 69px;

        .text {
            display: flex;
            gap: 9px;
        }
    }
}

main {
    margin: 50px;
    
    .main-text {
        text-align: center;
        margin: 30px;
    }
    .container {
        display: flex;
        justify-content: center;

        .cards {
            display: grid;
            grid-template-columns: repeat(3, 380px);
            gap: 20px;

            .card {
                width: 350px;
                border-radius: 5px;
                border: solid 1px rgb(128, 128, 128, 0.3);

                img {
                    width: 349px;
                }
                
                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 20px;
                    width: 247px;
                    font-family: sans-serif;

                    span {
                        font-size: 24px;
                        font-weight: 500;
                        color: #434B53;
                    }

                    p {
                        color: #434B53;
                        font-weight: 400;
                    }

                    button {
                        background-color: #FED84C;
                        border: none;
                        border-radius: 7px;
                        max-width: 150px;
                        padding: 20px;
                    }
                }
            }
        }
    }
}