* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    max-width: 300px;
    padding: 10px;
    background-color: gray;
}

input::placeholder {
    color: white;
}