* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 1340px;
    margin: 0 auto;
}

body {
    background-color: #191919;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;

    nav {
        display: flex;
        gap: 40px;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.new-block {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: center;
    gap: 60px;
    color: white;

    .image {
        height: 800px;
    }


    .text {
        display: flex;
        flex-direction: column;
        gap: 90px;

        h1 {

            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 100;
            font-size: 60px;

            span {
                font-weight: 600;
            }
        }

        .icons {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .images {
                display: flex;
                gap: 17px;
            }
        }
    }
}

