* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 1340px;
    margin: 20px auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-family: Clash Display;
    font-weight: 100;
    font-style: Regular;
    font-size: 24px;
    color: #22202E;
}

nav {
    display: flex;
    justify-content: center;
    gap: 44px;
    margin-top: 20px;


    a {
        text-decoration: none;
        color: #726E8D;
    }
}


.new-block {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;

    .dark-blue {
        display: flex;
        flex-direction: column;
        background-color: #2A254B;
        gap: 196px;
        color: white;
        padding-left: 30px;
        padding-top: 50px;
        height: 584px;
        width: 1280px;
        font-family: sans-serif;

        .text {
            display: flex;
            flex-direction: column;
            gap: 41px;
            font-weight: 100;
            
            button {
                width: 170px;
                border: none;
                background-color: rgb(128, 128, 128, 0.3);
                color: white;
                padding: 20px 40px;
            }
        }
    }
}


.texts {
    margin-top: 30px;

    .all {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 30px;

        .text1 {
            display: flex;
            flex-direction: column;
            gap: 8px;

            h3 {
                font-weight: 200;
            }
        }
    }
}