* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    width: 1300px;
    margin: 0 auto;
}

main {
    background: linear-gradient(to right, white 60%, #272727 40%);
    height: 110vh;

    .container {
        display: flex;
        justify-content: space-around;

        nav {
            display: flex;
            align-items: center;
            gap: 40px;

            a {
                text-decoration: none;
                color: white;
            }
        }

        .other {
            margin-left: 40px;
        }
    }

    section {
        margin-top: 300px;
        position: relative;

        .container {
            display: block;

            .all {
                display: flex;

                .text {
                    h1 { 
                        
                        font-size: 60px;
                        font-weight: 300;
                    }
                }

                .lie {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-left: 50px;
                    padding: 50px;

                    a {
                        text-decoration: none;
                        color: #272727;
                    }
                }

                .image {
                    position: absolute;
                    left: 750px;
                }
            }

            .end-text {
                display: flex;
                justify-content: end;
                color: white;
                margin-top: 180px;
                .text {
                    display: flex;
                    flex-direction: column;
                    text-align: end;
                    
                    p {
                        color: #C2C2C2;
                    }

                    h5 {
                        color: #EFC58B;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}